/*  Add about me paragraph
    Fix resizing issue in header
    Finish Portfolio page*/


body {
    margin: 0;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/witewall_3.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
}

.container-1 {
    padding: 20px;
    background: #fff;
    border-bottom: 2px solid #ccc;
    position: relative;
    width: 100%
    

}

.my-name {
    background: #4aaaa5;
    width: 100px;
    padding: 20px;
    display: inline;
    margin-left: 140px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.topnav {
    position: absolute;
    right: 15px;
    bottom: 30%;
    margin-right: 150px;
    
}

a {
    text-decoration: none;
    color: #777;
    margin: 10px;
    border-right: .5px solid #777;
    padding-right: 20px;
}

.port-boxes {
    border: none;
}

#noborder {
    border: none;
}



h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-bottom: 2px solid #999;
    width: 850px;
    margin: auto;

}


.container-2 {
    width: 960px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    border: #ddd;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 2px solid #ddd;
}

img{
    margin:20px;
    margin-left: 35px;
    float: left;
}

 p {
    text-align: center;
    float:left;
    background: yellow;
 }

/* Contact specific style begins*/

.containerform {
    width: 850px;
    margin: auto;
    padding: 20px;
  
  }

#name, #email, #message  {
    width: 100%;
    margin: auto;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
}


input[type=submit] {
    background-color: #4aaaa5;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

/*Contact specific style ends*/

/*Portfolio specific style begins*/

.port-boxes {
    width: 20%;
    height: 20%;
   
}


h2 {
    background-color: #4aaaa5;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    text-align: center;

}

/*Portfolio specific style begins*/



footer {
    background-color: #666;
    padding-top: 30px;
    border-top: 4.5px solid #4aaaa5;
    text-align: center;
    font-size: 14px;
    color: #999;
    clear: both;
    
}